[Desktop Entry]
Name=qprogram-starter
Name[de_DE]=qprogram-starter
Exec=qprogram-starter
Terminal=false
Type=Application
Icon=qprogram-starter
Categories=Utility;
Name[en_US]=qprogram-starter
Comment=A program starter with shutdown options, start time setting etc
